@model Universe
@{
    ViewBag.Title = Model.Fullname;
    List<Planet> planetsOfUniverse = Model.Planets.ToList();
    User currentUser = null;
    bool isUserGranted = false;
    if (Session["user"] != null)
    {
        currentUser = Session["user"] as User;
        isUserGranted = currentUser.UserID == Model.OwnerID || UserRepo.IsUserAllowed(currentUser.UserID, Model.UniverseID, PermissionTypes.Read, ContentTypes.Universe);
    }

}


<section class="section_padding" style="background-repeat:no-repeat; background-position:right; background-image:url(/Content/img/universeBack.png); min-height:700px">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="align-self-center">
                    @if (Model.IsPublic)
                    {
                        <i class="fa fa-globe-europe text-danger" id="publicSwitchIcon"></i>
                    }
                    else
                    {
                        <i class="fa fa-lock text-danger" id="publicSwitchIcon"></i>
                    }
                    @Model.Fullname
                    isimli evrene hoşgeldin.
                </h1>
                @if (Model.IsPublic || (currentUser != null && isUserGranted))
                {
                    <p>
                        Bu evrenin sahibi <a href="#">@Model.User.Fullname</a>, evrenin kullanımı herkese açtı. Hemen yanındaki tuşu kullanarak evreni genişletebilirsin.
                    </p>
                }
                else
                {
                    <p>
                        Bu evrenin sahibi <a href="#">Samet Aybaba</a>, kendine özel olmasını tercih etti, istersen yandaki tuşlarla kendisinden kullanım hakları isteyebilirsin.
                    </p>
                }
            </div>
            <div class="col-4 text-white btn-group-vertical" id="toolBar">
                @if (Model.IsPublic || (currentUser != null && isUserGranted))
                {
                    <button onclick="window.location.href = '@Url.Action("Create", "Planet", null)'" class="genric-btn danger btn-block" style="text-align:start;">
                        <i class="fa fa-plus"></i>
                        Bu Evrende Bir Gezegen Oluştur
                    </button>
                }
                else
                {
                    <button class="genric-btn info btn-block" style="text-align:start;">
                        <i class="fa fa-unlock"></i>
                        Görüntüleme izni iste
                    </button>
                    <button class="genric-btn info btn-block" style="text-align:start;">
                        <i class="fa fa-unlock"></i>
                        Genişletme izni iste
                    </button>
                }
            </div>
            <div class="col-4 position-absolute" style="margin-top:50px;" id="toolTipContainer">

            </div>
        </div>
        <div class="row">
            @if (Model.IsPublic || (currentUser != null && isUserGranted))
            {
                if (planetsOfUniverse.Count > 0)
                {
                    foreach (Planet planet in planetsOfUniverse)
                    {
                        <div class="col-4">
                            <div class="card bg-dark">
                                <div class="card-body">
                                    <h4 class="card-title">@planet.Fullname</h4>
                                    <p class="card-text">
                                        @Html.ActionLink(planet.User.Fullname, "ViewUser", "User", new { id = planet.OwnerID }, null)
                                        adlı kişinin oluşturduğu bu dünyada toplam 6 <a href="#">macera</a> mevcut.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="card-link">Dünyayı Gör</a>
                                    <div class="btn-group">
                                        <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12">
                        <h3>Bu evrende henüz bir gezegen oluşmamış. Kendileri pek bir genç...</h3>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <h3>Üzgünüm bu evrenin içeriğini görmek için izniniz yok. Üye olup sahibinden izin istemeniz gerekiyor.</h3>
                </div>
            }

        </div>
    </div>
</section>



@section pageScripts{
    <script>
        $publicIcon = $("#publicSwitchIcon");
        var isPublic = @Model.IsPublic.ToString().ToLower();

        if (isPublic) {
            $tooltip = '<div class="alert alert-info">Bu simge evrenin herkes tarafından görülebileceği ve genişlilebileceği anlamına gelir.</div> ';
        } else {
            $tooltip = '<div class="alert alert-info">Bu simge evrenin yaratıcısına özel olacağı anlamına gelir. Yaratıcısı siz değilseniz görüntülemek ve genişletmek için izin almanız gerekmektedir.</div > ';
        }

        $publicIcon.hover(function () {
            $("#toolTipContainer").append($tooltip);
        }, function () {
            $("#toolTipContainer").html("");
        });
    </script>
}