@model Universe
@{
    ViewBag.Title = Model.Fullname;
    List<Planet> planetsOfUniverse = Model.Planets.ToList();
    User currentUser = null;
    bool isUserGranted = false;
    if (Session["user"] != null)
    {
        currentUser = Session["user"] as User;
        isUserGranted = currentUser.UserID == Model.OwnerID || UserRepo.IsUserAllowed(currentUser.UserID, Model.UniverseID, PermissionTypes.Read, ContentTypes.Universe);
    }

}


<section class="section_padding" style="background-repeat:no-repeat; background-position:right; background-image:url(/Content/img/universeBack.png); min-height:700px">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="align-self-center">
                    @if (Model.IsPublic)
                    {
                        <em class="fa fa-globe-europe text-white" id="publicSwitchIcon"></em>
                    }
                    else
                    {
                        <em class="fa fa-lock text-danger" id="publicSwitchIcon"></em>
                    }
                    @Model.Fullname
                    isimli evrene hoşgeldin.
                </h1>
                @if (Model.IsPublic || (currentUser != null && isUserGranted))
                {
            <p>
                Bu evrenin sahibi @Html.ActionLink(Model.User.Fullname, "ViewUser", "User", new { id = Model.OwnerID }, null), evrenin kullanımı herkese açtı. Hemen yanındaki tuşu kullanarak evreni genişletebilirsin.
            </p>
                }
                else
                {
            <p>
                Bu evrenin sahibi @Html.ActionLink(Model.User.Fullname, "ViewUser", "User", new { id = Model.OwnerID }, null), kendine özel olmasını tercih etti, istersen yandaki tuşlarla kendisinden kullanım hakları isteyebilirsin.
            </p>
                }
            </div>
            <div class="col-4 text-white btn-group-vertical" id="toolBar">
                @if (Model.IsPublic || (currentUser != null && isUserGranted))
                {
                    <button onclick="window.location.href = '@Url.Action("Create", "Planet", null)'" class="genric-btn danger btn-block" style="text-align:start;">
                        <em class="fa fa-plus"></em>
                        Bu Evrende Bir Gezegen Oluştur
                    </button>
                }
                else
                {
                    <button class="genric-btn btn-block info" style="text-align:start;">
                        <em class="fa fa-unlock"></em>
                        Görüntüleme izni iste
                    </button>
                    <button class="genric-btn info btn-block" style="text-align:start;">
                        <em class="fa fa-unlock"></em>
                        Genişletme izni iste
                    </button>
                }
            </div>
            <div class="col-4 position-absolute" style="margin-top:50px;" id="toolTipContainer">

            </div>
        </div>
        <div class="row">
            @if (Model.IsPublic || (currentUser != null && isUserGranted))
            {
                if (planetsOfUniverse.Count > 0)
                {
                    foreach (Planet planet in planetsOfUniverse)
                    {
                        <div class="col-4">
                            <div class="card bg-dark">
                                <div class="card-body">
                                    <h4 class="card-title">@planet.Fullname</h4>
                                    <p class="card-text">
                                        @Html.ActionLink(planet.User.Fullname, "ViewUser", "User", new { id = planet.OwnerID }, null)
                                        adlı kişinin oluşturduğu bu dünyada toplam 6 <a href="#">macera</a> mevcut.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    @Html.ActionLink("Dünyayı Gör", "ViewPlanet", "Planet", new { id = planet.PlanetID }, new { @class = "card-link" })
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12" style="margin-top:100px">
                        <div class="alert bg-dark">
                            <div class="row">
                                <div class="col-1 text-center text-white">
                                    <em class="fa fa-baby fa-3x"></em>
                                </div>
                                <div class="col-11" style="padding-top:10px">
                                    <h4>Bu evrende henüz bir gezegen oluşmamış. Kendileri pek bir genç...</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12" style="margin-top:100px">
                    <div class="alert bg-dark">
                        <div class="row">
                            <div class="col-1 text-center text-danger">
                                <em class="fa fa-lock fa-3x"></em>
                            </div>
                            <div class="col-11" style="padding-top:10px">
                                <h4>Üzgünüm bu evrenin içeriğini görmek için izniniz yok. Üye olup sahibinden izin istemeniz gerekiyor.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



@section pageScripts{
    <script>
        $publicIcon = $("#publicSwitchIcon");
        var isPublic = @Model.IsPublic.ToString().ToLower();

        if (isPublic) {
            $tooltip = '<div class="alert alert-info">Bu simge evrenin herkes tarafından görülebileceği ve genişlilebileceği anlamına gelir.</div> ';
        } else {
            $tooltip = '<div class="alert alert-info">Bu simge evrenin yaratıcısına özel olacağı anlamına gelir. Yaratıcısı siz değilseniz görüntülemek ve genişletmek için izin almanız gerekmektedir.</div > ';
        }

        $publicIcon.hover(function () {
            $("#toolTipContainer").append($tooltip);
        }, function () {
            $("#toolTipContainer").html("");
        });
    </script>
}