@model List<Universe>
@{
    ViewBag.Title = "Yeni Dünya";
    User currentUser = Session["user"] as User;
}

@section pageStyles{

}

<section class="section_padding" style="background-repeat:no-repeat; background-position:right; background-image:url(/Content/img/worldBack.png)" );>
    <div class="container">
        <div class="row">
            @if (ViewBag.AlertMessage != null)
            {
                <div class="container">

                    <div class="@ViewBag.AlertClass alert-dismissible text-center">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @ViewBag.AlertMessage
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="section_tittle">
                    <h2>Kendi dünyanı oluştur</h2>
                </div>

                @using (Html.BeginForm("Create", "Planet", FormMethod.Post, null))
                {
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Dünya Ayrıntıları</h3>
                                </div>
                            </div>
                            <hr class="bg-white" />
                            <div class="row">
                                <div class="col-1" style="margin-top:6px">
                                    <i class="fa fa-user-astronaut fa-2x text-danger"></i>
                                </div>
                                <div class="col-3">
                                    <h4 style="margin-top:10px">Evren</h4>
                                </div>
                                <div class="col-8">
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        <select required name="universeID" class="wide">
                                            @foreach (Universe universe in Model)
                                            {
                                                <option value="@universe.UniverseID">@universe.Fullname</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-8">
                                                <input required type="text" class="form-control" id="txtUniverseName" placeholder="Yeni Evren Adı" value="@currentUser.Fullname Evreni" />
                                                <input type="hidden" name="universeID" id="universeID" value="0" />
                                            </div>
                                            <div class="col-4">
                                                <button onclick="CreateUniverse()" class="btn btn-outline-success" id="btnNewUniverse">
                                                    <i class="fa fa-save"></i> Yarat
                                                </button>
                                            </div>
                                            <p class="col-12" id="callback" style="margin-top:15px">*Şu an hiçbir evreni genişletme izniniz yok. Lütfen bir tane yaratın.</p>
                                        </div>
                                    }
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-1" style="margin-top:6px">
                                    <i class="fa fa-globe fa-2x text-danger"></i>
                                </div>
                                <div class="col-3">
                                    <h4 style="margin-top:10px">Dünya Adı</h4>
                                </div>
                                <div class="col-8">
                                    <input required type="text" class="form-control" name="txtPlanetName" placeholder="ör: Dünya" value="@currentUser.Fullname Dünyası" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Erişim ayarları</h3>
                                </div>
                            </div>
                            <hr class="bg-white" />
                            <div class="row">
                                <div class="col-1" style="margin-top:6px">
                                    <i class="fa fa-globe-asia text-danger" id="publicSwitchIcon"></i>
                                </div>
                                <div class="col-4">
                                    <p id="publicSwitchLabel">Herkese Açık</p>
                                </div>
                                <div class="col-2" style="margin-top:6px">
                                    <div class="single-element-widget">
                                        <div class="switch-wrap">
                                            <div class="primary-switch">
                                                <input type="checkbox" value="true" id="publicSwitch" name="chkIsPublic" checked>
                                                <label for="publicSwitch"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-absolute" style="margin-top:50px" id="toolTipContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-1">
                            <button class="btn btn-danger" type="submit">
                                Oluştur
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section pageScripts{
    <script>
        $publicIcon = $("#publicSwitchIcon");
        $publicSwitch = $("#publicSwitch");
        $publicLabel = $("#publicSwitchLabel");

        $tooltip = '<div class="alert alert-info">Bu evreninizin herkes tarafından görülebileceği ve genişlilebileceği anlamına gelir.</div> ';

        $publicSwitch.on("click", function () {
            if ($publicIcon.hasClass("fa-lock")) {
                $publicIcon.removeClass("fa-lock").addClass("fa-globe-asia");
                $publicLabel.text("Herkese Açık");
                $tooltip = '<div class="alert alert-info">Bu evreninizin herkes tarafından görülebileceği ve genişlilebileceği anlamına gelir.</div> ';
            } else {
                $publicIcon.removeClass("fa-globe-asia").addClass("fa-lock");
                $tooltip = '<div class="alert alert-info">Bu evreninizin size özel olacağı anlamına gelir. Yalnızca siz görür ve genişletirsiniz.</div > ';
                $publicLabel.text("Özel Evren");
            }
        });

        $publicIcon.hover(function () {
            $("#toolTipContainer").append($tooltip);
        }, function () {
            $("#toolTipContainer").html("");
            });

        function CreateUniverse() {
            $.ajax({
                url: "@Url.Action("CreateWithApi", "Universe")",
                type: "POST",
                data: { txtUniverseName: $("#txtUniverseName").val() },
                success: function (data) {
                    if (data > 0) {
                        $("#txtUniverseName").attr("disabled", "true");
                        $("#btnNewUniverse").attr("disabled", "true").removeClass("btn-outline-success").addClass("btn-success");
                        $("#btnNewUniverse > i").removeClass("fa-save").addClass("fa-check");
                        $("#universeID").val(data);
                        $("#callback").text("*Yeni evren başarıyla oluşturuldu.").addClass("text-success");
                    } else {
                        $("#callback").text("*Bu isimde bir evren zaten var.").addClass("text-danger");
                    }
                },
                async: false
            });
        };
    </script>
}
