@model Planet
@{
    ViewBag.Title = Model.Fullname;
    User currentUser = null;
    bool isUserGranted = false;
    if (Session["user"] != null)
    {
        currentUser = Session["user"] as User;
        isUserGranted = currentUser.UserID == Model.OwnerID || UserRepo.IsUserAllowed(currentUser.UserID, Model.PlanetID, PermissionTypes.Read, ContentTypes.Planet);
    }
}

<section class="section_padding" style="background-repeat:no-repeat; background-position:right; background-image:url(/Content/img/worldBack.png)" );>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="align-self-center">
                    @if (Model.IsPublic)
                    {
                        <i class="fa fa-globe-europe text-white" id="publicSwitchIcon"></i>
                    }
                    else
                    {
                        <i class="fa fa-lock text-danger" id="publicSwitchIcon"></i>
                    }
                    @Model.Fullname
                    isimli dünyaya hoşgeldin.
                </h1>
                @if (Model.IsPublic || (currentUser != null && isUserGranted))
                {
                    <p>
                        Bu evrenin sahibi @Html.ActionLink(Model.User.Fullname, "ViewUser", "User", new { id = Model.OwnerID }, null), dünyannın kullanımı herkese açtı. Hemen yanındaki tuşları kullanarak dünyada bir karakter, npc veya macera oluşturabilirsiniz.
                    </p>
                }
                else
                {
                    <p>
                        Bu dünyanın sahibi @Html.ActionLink(Model.User.Fullname, "ViewUser", "User", new { id = Model.OwnerID }, null), kendine özel olmasını tercih etti, istersen yandaki tuşlarla kendisinden kullanım hakları isteyebilirsin.
                    </p>
                }
            </div>
            <div class="col-4 text-white btn-group-vertical" id="toolBar">
                @if (Model.IsPublic || (currentUser != null && isUserGranted))
                {
                    <button onclick="window.location.href = '@Url.Action("Create", "Planet", null)'" class="genric-btn danger btn-block" style="text-align:start;">
                        <i class="fa fa-plus"></i>
                        Bu Evrende Bir Gezegen Oluştur
                    </button>
                }
                else
                {
                    <button class="genric-btn btn-block info" style="text-align:start;">
                        <i class="fa fa-unlock"></i>
                        Görüntüleme izni iste
                    </button>
                    <button class="genric-btn info btn-block" style="text-align:start;">
                        <i class="fa fa-unlock"></i>
                        Genişletme izni iste
                    </button>
                }
            </div>
            <div class="col-4 position-absolute" style="margin-top:50px;" id="toolTipContainer">

            </div>
        </div>
        <div class="row">
            @if (Model.IsPublic || (currentUser != null && isUserGranted))
            {

            }
            else
            {
                <div class="col-12" style="margin-top:100px">
                    <div class="alert bg-dark">
                        <div class="row">
                            <div class="col-1 text-center text-danger">
                                <i class="fa fa-lock fa-3x"></i>
                            </div>
                            <div class="col-11" style="padding-top:10px">
                                <h4>Üzgünüm bu evrenin içeriğini görmek için izniniz yok. Üye olup sahibinden izin istemeniz gerekiyor.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section pageScripts{
    <script>
        $publicIcon = $("#publicSwitchIcon");
        var isPublic = @Model.IsPublic.ToString().ToLower();

        if (isPublic) {
            $tooltip = '<div class="alert alert-info">Bu simge dünyanın herkes tarafından görülebileceği ve genişlilebileceği anlamına gelir.</div> ';
        } else {
            $tooltip = '<div class="alert alert-info">Bu simge dünyanın yaratıcısına özel olacağı anlamına gelir. Yaratıcısı siz değilseniz görüntülemek ve genişletmek için izin almanız gerekmektedir.</div > ';
        }

        $publicIcon.hover(function () {
            $("#toolTipContainer").append($tooltip);
        }, function () {
            $("#toolTipContainer").html("");
        });
    </script>
}